<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录失败error</title>
    <style>
        .center {
            margin: auto;
            width: 20%;
            border: 3px solid #73AD21;
            padding: 5px;
            text-align: center;
        }
    </style>
</head>
</head>

<body>
<div class="center">
    <h1>登录失败</h1>
    <div class="alert alert-warning" role="alert">账号或密码错误</div>
    <span class="btn btn-default"> <a href="/login" role="button"> [返回]</a></span>
</div>
</body>
</html>
