<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topcheer.spdbybt.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.topcheer.spdbybt.entity.User" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <!--<result column="sex" property="sex" javaType="com.topcheer.spdbybt.enums.UserSexEnum"/>-->
        <result column="sex" property="sex" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
    </resultMap>


    <sql id="Base_Column_List" >
        id, username, sex
    </sql>

    <select id="getAll" resultMap="BaseResultMap"  >
        SELECT
        <include refid="Base_Column_List" />
        FROM user
    </select>


    <select id="findAll" resultType="com.topcheer.spdbybt.entity.User">
        select * from user
    </select>
</mapper>